@import "vars.scss";
@import "reset.scss";
@import "framework.scss";

html {
  font-size: 22px;
}

body {
  background-color: $bg;
  color: $grey;
  font-family: 'Teko', sans-serif;
}

#app {
  padding: 40px 0;
  position: relative;
}

/* HEADER */
header {
  padding-left: $marge*2;
  display: flex;
  align-items: flex-end;
  margin-bottom: $marge*2;
}

#logo {
  max-width: 265px;

}

#logo-rage {
  display: block;
  width: 100%;
  height: auto;
  cursor: pointer;
}

#slogan {
  display: flex;
  justify-content: space-between;
}

#logo-horde {
  display: inline-block;
  margin-right: $marge/2;
}

#logs-logo {
  width: 25px;
  margin-right: $marge/3;
}

/* MENUS */

#responsive-menus {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  margin-left: $marge*5;
  padding-right: $marge*2;

  a {
    display: flex;
    align-items: center;
    color: $grey;

    &:hover {
      color: lighten($blood, 10%);
    }

    svg {
      position: relative;
      top: -2px;
      margin-right: $marge/2;
    }
  }

  a.active {
    color: lighten($blood, 10%);
  }

}

#burger-icon {
  font-size: 1.5rem;
  display: none;
}

nav {

  border-right: 1px solid $grey;
  
  ul {
    display: flex;
  }

  li {
    margin-right: $marge*3;
  }

}

#external-links {
  display: flex;

  a {
    margin-left: $marge*3;
  }
}

#menus-overlay {
  display: none;
}

/* ROSTERS */
#rosters {
  display: flex;
  margin-top: $marge*2;
}

.roster {
  flex: 1,
}

.roster-header {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.roster-header, .progress-header {

  .help {
    line-height: .9;
  }
  
  h1 {
    line-height: .9;
    text-shadow: 3px 3px 6px #000;
  }

}

/* BLOOD & STORM */
.roster-header, .progress-header {
  padding: $marge*2;
}

.recruitment-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 10px 20px;
}

.recruitment-body {
  width: 100%;
  padding: 20px 20px 10px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.class-status {
  position: relative;
  width: 80px;
  height: 160px;
  margin: 0 $marge;

  &.closed {
    opacity: .33;
  }

}

.class-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: auto;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

}

.class-status-text {
  margin-top: $marge;
  text-align: center;
  line-height: 1;

  span {
    text-transform: capitalize;
  }
}

/* PROGRESS */
#bloodrage_magtheridon {
  .progress-bar-container {
    justify-content: flex-end;
  }
}

.progress-body {
  padding: $marge*2;
  width: 100%;
}

.raid-progress {
  margin-bottom: $marge*2;

  &.lock {
    opacity: 0.33;

    .progress-bar {
      width: 0;
    }

  }
}

.raid-progress-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.raid-lock-status {
  display: flex;
  align-items: center;

  svg {
    position: relative;
    top: -3px;
    cursor: pointer;
    margin-right: $marge/2;
  }
}

.progress-bar-container {
  position: relative;
  z-index: 1;
  background-color: $grey;
  height: 5px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress-bar {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 47%;
  height: 100%;
  background-color: $blood;
  @include trans;
}

.progress-step {
  width: 25px;
  height: 25px;
  background-color: $grey;
  border-radius: 50%;
  border: 6px solid $dark;
  position: relative;
  z-index: 3;
  @include trans;

  &.pointer {
    cursor: pointer;
  }
}

/* BLOODRAGE */
.roster-header, .progress-header {
  background: linear-gradient(135deg, $blood 5%, $blood 25%, $dark 55%);
}

button {
  background-color: $blood;

  &:hover {
    background-color: lighten($blood, 5%);
  }
}

.class-icon {
  border: 5px solid $blood;
}

.progress-bar {
  background-color: $blood;
}

.progress-step.check {
  background-color: $blood;
}

/* STUDIO */
#blog {
  .roster-header {
    margin-bottom: $marge*2;
  }

  .control {
    svg {
      margin-left: $marge*2;
    }
  }
}

.studio-post {
  padding: $marge*2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.studio-post-header {
  h2 {
    margin-bottom: -$marge;

    a {
      display: flex;
      align-items: center;
      @include trans;
    }

    svg {
      position: relative;
      top: -5px;
      margin-right: $marge;
    }
  }
}

.studio-post-action {
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin-left: $marge*5;

  a {
    @include trans;
    color: $grey;
    display: flex;
    align-items: center;

    &:hover {
      color: lighten($blood, 5%);
    }
  }
}

#add-video-modal {

  display: flex;
  padding-top: $marge*10;
  justify-content: center;
  align-items: flex-start;

  .roster-header {
    border-top-left-radius: $corner;
    border-top-right-radius: $corner;
  }

  .form-group {
    margin-bottom: $marge*2;
  }

}

.post {
  width: 100%;

  .post-header {
    flex-direction: column;
    align-items: flex-start;
  }
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
} 

.post-content {
  padding: $marge*2;
  position: relative;
}

.ratio {
  position: relative;
  border-radius: $corner;
  overflow: hidden;
}

.ratio:before {
  content: '';
  display: block;
  padding-bottom: 56.25%;
}

.ratio > video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.ratio video {
  z-index: 1;
}

.ratio .video-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: rgba( $dark, .5 );
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    font-size: 5rem;
  }

}

video {

  @include trans;
  position: relative;

  &.active {
    opacity: 1;
  }

  &.inactive {
    opacity: 0;
    z-index: -100;
  }

}

/* MULTICAM */
#multicam {
  position: relative;
}

#pov-wrapper {
  position: relative;
  overflow: hidden;
}

#multicam-audio {
  display: none;
}

video {

  @include trans;

  &.active {
    opacity: 1;
  }

  &.inactive {
    opacity: 0;
  }

}

#multicam-controls {
  position: absolute;
  z-index: 100;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  @include trans;

  &:hover {
    transform: translateY(0);
  }

  svg {
    @include trans;
    cursor: pointer;

    &:hover {
      color: $blood;
    }
  }
}

#handler {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 50%;
  width: 200px;
  padding: 0 $marge*2;
  background-color: $dark;
  border: 1px solid lighten($dark, 3%);
  border-bottom: none;
  border-top-left-radius: $corner;
  border-top-right-radius: $corner;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate( -50%, -100% );
}

#media-controls {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  display: flex;
  padding-bottom: $marge;
  font-size: 1.25rem;

  & > * {
    margin-right: $marge;
  }
}

#volume {
  display: flex;
  align-items: center;
  margin-left: $marge;
}

#volume-bar-container {
  width: 100px;
  height: 10px;
  background-color: lighten( $dark, 5% );
  margin-left: $marge;
  cursor: pointer;
}

#volume-bar {
  height: 100%;
  background-color: $blood;
  @include trans;
}

#pov-controls {
  display: flex;

  .player-card {
    padding: 0;
    padding-right: 0;
  }

  .player-card-wrapper {
    flex: 1;
    padding: 0;
    margin: 0;
    height: auto;

    &.selected {
      .player-card {
        background-color: lighten($dark, 3%);
      }
    }
  }

  .player-card {
    padding: $marge;
    border-right-width: 0;
    border-radius: 0;
    cursor: pointer;
    @include trans;
  }

  .player-card-wrapper:last-child .player-card {
    border-right-width: 1px;
  }

  .player-name {
    font-size: 1rem;
  }

}

/* MULTICAM ADMIN */

#add-cam {
  svg {
    cursor: pointer;
    font-size: 2rem;
    margin-right: auto;
    @include trans;

    &:hover {
      color: $blood;
    }
  }
}

#multi-form {
  margin-bottom: $marge*4;
}

/* LOGIN FORM */
#auth {
  display: flex;
  align-items: center;
  justify-content: center;
}

#close-auth {
  position: fixed;
  top: $marge*2;
  right: $marge*2;
  font-size: 2rem;
  cursor: pointer;
  fill: $grey;
  @include trans;

  &:hover {
    fill: lighten($grey, 20%);
  }
}

#auth-box {
  width: 60%;
  max-width: 800px;
  display: flex;
}

.auth-section {
  background-color: $dark;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.auth-header {
  line-height: .9;
  border-top-left-radius: 2px ;
  border-top-right-radius: 2px ;
  
  h3 {
    padding: $marge*2;

  }
}

.form-submit {
  margin-top: auto;
}

.auth-body {
  padding: $marge*2 $marge*2 $marge $marge*2;
  display: flex;
  flex-direction: column;
  flex: 1;
}

#inscription {
  margin-right: $marge;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  
  h3 {
    border-top-left-radius: 2px;
    background: linear-gradient(135deg, $blood 5%, $blood 25%, $dark 55%);
  }

  .form-submit {
    background-color: $blood;
    align-self: flex-start;

    &:hover {
      background-color: lighten($blood, 10%);
    }
  }

}

#connection {
  margin-left: $marge;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  
  h3 {
    border-top-right-radius: 2px;
    background: linear-gradient(-135deg, $storm 5%, $storm 25%, $dark 55%);
    text-align: right;
  }

  .form-submit {
    background-color: $storm;
    align-self: flex-end;

    &:hover {
      background-color: lighten($storm, 10%);
    }
  }

}

/* ADMIN */
#admin-connected {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: $marge/2 0;
  font-size: .8rem;
  
  .button-link {
    font-size: .8rem;
    margin-left: $marge/2;
  }
}

/* CLASS EDITOR */
#class-editor {
  display: flex;
  align-items: center;
  justify-content: center;
  
  .box {
    background-color: $dark;
    border-radius: 2px;
    position: relative;
    margin: 0 $marge;
  }

  &.bloodrage {
    #class-editor-header {
      @include blood-gradient;
    }

    .class-icon {
      border: 3px solid $blood;
    }
  }

}

#close-class-editor {
  position: absolute;
  top: $marge/2;
  right: $marge/2;
  cursor: pointer;
}

#class-editor-header {
  padding: $marge*2;
  display: flex;
  align-items: center;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  
  .class-icon {
    margin-right: $marge*2;
  }
  
  h2 {
    text-shadow: 3px 3px 6px #000;
  }
}

#class-editor-body {
  padding: $marge*2;

  [type="number"] {
    width: 75px;
    margin-right: $marge;
  }

  label:first-letter {
    text-transform: capitalize;
  }

  .faded {
    opacity: .33;
  }
}

/* RECRUIT MODAL */

.recrut-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;

  .box {
    width: 75%;
    max-width: 1060px;
    background-color: $dark;
  }
}

.recrut-modal-header {

  position: relative;
  padding: $marge*2;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;

  .roster-name {
    text-transform: uppercase;
  }

  h2 {
    font-size: 3rem;
    line-height: .9;
    text-shadow: 3px 3px 6px #000;
  }

  #close-recrut-modal {
    position: absolute;
    top: $marge*2;
    right: $marge*2;
    font-size: 1.5rem;
    cursor: pointer;
  }

}

.recrut-modal-body {
  padding: $marge*2;

  .roster-name {
    margin: 0 5px;
    text-transform: capitalize;

    &.bloodrage {
      color: lighten($blood, 10%);
    }

  }

  .content:not(.content:last-child) {
    margin-bottom: $marge*6;
  }

  a.button {
    display: inline-flex;
    align-items: center;
    svg {
      margin-right: $marge;
    }
  }


}

#recrut-modal-bloodrage {

  .recrut-modal-header {
    @include blood-gradient;
  }

  a.button {
    background-color: $blood;
    @include trans;

    &:hover {
      background-color: lighten($blood, 10%);
    }
  }

}

/* ROSTER */
#roster-content {
  padding: $marge*2;
}

.players-list {
  display: flex;
  flex-wrap: wrap;

  .player-card-wrapper:nth-child(3n) {
    padding-right: 0;
  }

  .admin-controls {
    @include dev;
    margin-bottom: $marge*2;
    display: flex;
    align-items: center;
    background-color: $dark;
    border-radius: $corner;
    border: 1px solid lighten($dark, 3%);
    padding: $marge*2;
    height: 95px;

    a {
      display: flex;
      align-items: center;
    }
  }
}

.player-card-wrapper {
  margin-bottom: $marge*2;
  padding-right: $marge*2;
  width: 33.33%;
  height: 95px;
  @include trans;

  &.deleting {
    opacity: .33;
  }

  &.deleted {
    display: none;
  }
}

.player-card {
  display: flex;
  align-items: center;
  padding: $marge*2;
  margin-bottom: 0;
  position: relative;

  .class-icon {
    margin: 0 $marge*2 0 0;
    display: flex;
    align-items: center;
  }

}

.delete-player {
  font-size: 1.25rem;
  position: absolute;
  top: $marge*2;
  right: $marge*2;
  cursor: pointer;
  @include trans;

  &:hover {
    color: $blood;
  }
}

.card-player-body {
  line-height: .85;  
}

.player-name {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.75rem;
}

.player-spe {
  opacity: .75;
  text-transform: capitalize;
}

@import "responsive.scss";